@mixin borderrad {
    border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -ms-border-radius: 25px 25px 25px 25px;
    -o-border-radius: 25px 25px 25px 25px;
}

@mixin shadow {
    -webkit-box-shadow: 5px 31px 27px 6px rgba(0,0,0,0.32);
-moz-box-shadow: 5px 31px 27px 6px rgba(0,0,0,0.32);
box-shadow: 5px 31px 27px 6px rgba(0,0,0,0.32);
}

@mixin bgcb {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-attachment: fixed;
}   

@mixin coltext {
    color: #f5ebeb;
}


@mixin btntrue {
    background-color: #010aff;
    color: white;
    padding: 5px;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

@mixin btnfalse {
    padding: 5px;
    color: whitesmoke;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}